#searchForm{
    text-align: center;
}

#inputTopic{
    margin: 0 7px;
}

#popularSearchesTitle{
    margin-left: 10px;
    margin-block-end: 0;
}

#popularSearchesList{
    margin-block-start: 0;
    list-style: none;
}